/c.ipynb
/City Profit.png
/Cost by month.png
/Customer Type.png
/Gauge.png
/Income.png
/KPI.png
/Payment method.png
/Product Categories.png
/Project_ Supermarket Sales Performance Dashboard.pdf
/Sales over time.png
/supermarket_sales.csv